---
layout: default
title: Michael Brady Paulson | Grunt
---

<div id="rx">
    <h1>Grunt</h1>
    <ul class="posts cf">
        {% for post in site.posts %}
            {% if post.categories contains 'grunt' %}
                <li class="post-container">
                    <a class="image" href="{{ post.url }}"><img src="/assets/images/{{ post.image }}"></a>
                    <div class="title">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
