round 1<br/>
<input type="text" value="0" id="0_0">
<input type="text" value="0" id="0_1">
<input type="text" value="0" id="0_2">
<input type="text" value="0" id="0_3">
<br/>
round 2<br/>
<input type="text" value="0" id="1_0">
<input type="text" value="0" id="1_1">
<input type="text" value="0" id="1_2">
<input type="text" value="0" id="1_3">
<br/>
round 3<br/>
<input type="text" value="0" id="2_0">
<input type="text" value="0" id="2_1">
<input type="text" value="0" id="2_2">
<input type="text" value="0" id="2_3">
<br/>
round 4<br/>
<input type="text" value="0" id="3_0">
<input type="text" value="0" id="3_1">
<input type="text" value="0" id="3_2">
<input type="text" value="0" id="3_3">
<br/>
round 5<br/>
<input type="text" value="0" id="4_0">
<input type="text" value="0" id="4_1">
<input type="text" value="0" id="4_2">
<input type="text" value="0" id="4_3">
<br/>
scores<br/>
Michael 1 <div id="score0"> 0 </div>
JC 2 <div id="score1"> 0 </div>
Lori 3 <div id="score2"> 0 </div>
Lana 4 <div id="score3"> 0 </div>
<button class="calc">Calculate</button>
<script type="application/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
<script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script type="application/javascript" src="/spot-it/index.js"></script>
